form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0rem 5rem;
  overflow: hidden;

}

.title {

  color: #444;
  font-size: 2.4rem;
}

i {
  color: #dad8d8;
}


.input-field {

  position: relative;
  margin-top: 2%;
  display: flex;
  flex-direction: column;
  
  width: 20em;
  height: 55px;
  border: none;
}

.input {
  position: relative;
  margin-top: 2%;
  display: grid;
  grid-template-columns: 15% 85%;
  background-color: #dddddd;
  border-radius: 50px;
  width: 20em;
  height: 55px;
  border: none;
}

.input i {
  text-align: center;
  line-height: 55px;
  color: #acacac;
  transition: 0.5s;
  font-size: 1.1rem;

  transition: 0.5s;
}

.input input {

  border: none;
  border-radius: 40px;
  background-color: #dad8d8;
  outline: none;


}



.registration {
  margin-right: auto;
  margin-left: auto;
}

#title {
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  margin-top: 2%;
}

button {}

#error {
  color: red;
}

#successRegistration {
  color: green;
}

#registerButton {
  margin-top: 4%;
  margin-bottom: 3%;
  ;
  display: flex;
  flex-direction: column;
}

#registerButton>button {
  border-radius: 50px;
}


.textError
{
  margin-left:auto;
  margin-right: auto;
  color:red;
}

@media all and (max-width: 539px) {
  .input-field {
    position: relative;
    margin-top: 8%;
    display: grid;
    grid-template-columns: 15% 85%;
    background-color: #dddddd;
    border-radius: 50px;
    width: 20em;
    height: 55px;
    border: none;

  }

  #registerButton {
    margin-top: 8%;
    margin-bottom: 5%;
    ;
    display: flex;
    flex-direction: column;

  }

 
}



