<div class="login">
    <div id="content">
    <div  id="title">
        <h2>Sign in</h2>
    </div>
    <form  (submit)="login(username, password)">
        <div class="input-field">
            <i class="fas fa-user"></i>
            <input #username type="username" placeholder="Username" > 
        </div>
        <div class="input-field">
            <i class="fas fa-lock"></i>
            <input #password type="password" placeholder="Password">
        </div>
        <button id="loginButton" [disabled]="userExists" class="btn btn-primary" >Login</button>
        <span id="loginSuccess" *ngIf="userExists==false && submit==true">Email o password errata</span>
    </form></div>
</div>
